.pagebody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 735px;
}
.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.card {
  position: relative;
  max-width: 300px;
  height: 420px;
  background-color: #ffff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 5);
  transition: 0.3px;
}
.card:hover {
  height: 420px;
  transition: 0.5s;
}
.imgbox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
img {
  max-width: 100%;
  border-radius: 4px;
}
.content {
  position: relative;
  margin-top: -140px;
  padding: 18px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
