body{
  height: 100vh;
  background-color: #789065;
}

p1{
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 60px;
 
}

h1{
  font-family: "Koulen", sans-serif;
  font-weight: 20;
  font-style: normal;
  color: black;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 60px;
  padding-top:50px;
  padding-bottom: 50px;
 
}
h2{
  font-family: "Koulen", sans-serif;
  font-weight: 20;
  font-style: normal;
  color: black;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 60px;
  padding-top:10%;
  text-shadow: 2px 2px #ADBF97;
  margin-bottom: 20px;
 
}


.profile{
height: 200px;
width: 200px;
background-color: aliceblue;
}


.grid-container {
display: grid;
grid-template-columns: auto auto auto auto;
padding: 10px;
}
.grid-item {
padding: 10px;
font-size: 30px;
text-align: center;
font-family: sans-serif;
font-weight: 20;
font-style: normal;
color: white;
font-size: 30px;
}
