#mulchContainer{
    display: flex;
    flex-direction: row;
    background-color: #b3dfa1;
    background-image: linear-gradient(315deg, #b3dfa1 0%, #f0e703 74%);
    height: auto;
}

#colorList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-top: 100px;
}

.circleText{
   position: relative;
   padding: 20px;
   text-align: center;
   font-family: 'Playfair Display';
   padding-top: 60px;
}

#black:hover{
    background-color: black;
    color: white;
}

#red:hover{
    background-color: red;
    color: white;
}

#brown:hover{
    background-color: rgb(87, 50, 28);
    color: white;
}

#natural:hover{
    background-color: rgb(173, 132, 93);
    color: white;
}

.circleColor{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fafafa;
    border: 1px solid;
    list-style-type: none;
    overflow: hidden;
}

#line2{
    width: 300px;
    height: 1px;
    background-color: #93b767;
    position: relative;
    left: 310px;
    top: 50px;
}

.mulchbenefitTitle{
    font-family: 'Playfair Display';
    text-shadow: none;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
    top: 0;
    background-color: #93b767;
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid;
}

.mulchbenefitItem{
    width: 150px;
    height: 200px;
    background-color: #C8E27A;
    list-style-type: none;
    border: 1px solid;
    border-radius: 2%;
}

.mulchbenefitItem p{
    padding: 5px;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    line-height: 1.5;
}

#mulchbenefitList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
}

.benefitsmulchtitle{
    font-family: "Playfair Display", serif;
    text-shadow: none;
    padding: 0;
}

#mulchContent{
    width: 100%;
    background-color: #fafafa;
}

#mulchTitle{
    font-size: 96px;
    width: 100%;
    color: #93b767;
    text-shadow: 2px 2px#383f31;
    -webkit-text-stroke: 1px #383f31;
}

.infoBox{
    width: 840px;
    height: 450px;
    margin-left: 40px;
    margin-top: 50px;
    background-color: #C8E27A;
    border-radius: 2%;
    border: 1px solid;
    overflow: hidden;
}

#infoContent{
    display: flex;
    flex-direction: row;
}

#mulchImg{
    height: 350px;
    margin-left: 50px;
}

#stoneImg{
    height: 350px;
    margin-left: 50px;
    width: 405px;
}

#infoList{
    list-style: circle;
    position: relative;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.infoItem{
    padding: 20px;
    font-family: "Playfair Display", serif;
}

.infoBox h2{
    font-family: "Playfair Display", sans-serif;
    text-shadow: none;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    top: 0px;
    background-color:#93b767;
    padding-top:15px;
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid;
}

#mulchInfoTable{
    width: 100%;
    display: flex;
    flex-direction: row;
}