body{
  height: 100vh;
}


.sidenav {
  height: 165px;
  width: 180px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2), 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
  position: absolute;
  top: 0;
  right: 0;
  background-color: #C0D5AE;
  overflow-x: hidden;
  margin-top: 150px;
  margin-right: 2%;
  border-radius: 10px;
}

.sidenavbridgewhite {
  height: 30px;
  width: 180px;
  position: absolute;
  margin-top: 28%;
  right: 0;
  background-color: white;
  overflow-x: hidden;
}

.sidenavhead {
  height: 70px;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #456030;
  overflow-x: hidden;
}



.sidenav a {
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: rgb(48, 55, 43);
  display: block;
}

.sidenav a:hover {
  color: rgb(141, 199, 141);
  transition: 200ms ease-in;
}

.hAbout{
  font-family: "Koulen", sans-serif;
  font-weight: 20;
  font-style: normal;
  color: white;
  font-size: 50px;
  width: 70%;
  text-align: center;
  position: relative;
  top: 20px;
  padding-top: 5%;
}

h6{
  padding-top: 5%;
  font-family: "Koulen", sans-serif;
  text-align: center;
  font-weight: 20;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: center;
  position: relative;
}

  p2{
    font-family: "Abel", sans-serif;
    font-weight: 20;
    width: 70%;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 10px;
    display: block;
  }

  p3{
    font-family: "Abel", sans-serif;
    font-weight: 20;
    width: 70%;
    font-style: normal;
    color: white;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 10px;
    display: block;
  }

  p7{
    font-family: "Abel", sans-serif;
    font-weight: 20;
    font-style: normal;
    color: #383f31;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 10px;
    bottom: 30px;
    display: block;
  }
  
  .plantpot{
    padding-top:100px; 
    padding-right:30%;
    height: 100px;
    filter: brightness(0) invert(1);
    width: 100px;
    display: block;
    margin: 0 auto;
    }

    .plant{
      filter: brightness(0) invert(1);
      }

      .plantZip{
        filter: brightness(0) invert(1);
        height: 100px;
        width: 100px;
        padding-top: 100px;
        padding-left: 40%;
        }

    .navplant{
      filter: brightness(0) invert(1);
      position: relative;
      top: 1px;
      }