body{
  height: 100vh;
}

.card {
  background-color: #456030;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
}
hover {
  color: green;
  transition: 200ms ease-in;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.hAbout{
  font-family: "Koulen", sans-serif;
  font-weight: 20;
  font-style: normal;
  color: white;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 20px;
  padding-top: 5%;
}

h6{
  font-family: "Koulen", sans-serif;
  font-weight: 20;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 10px;
}

  p2{
    font-family: "Abel", sans-serif;
    font-weight: 20;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 10px;
    display: block;
  }

  p7{
    font-family: "Abel", sans-serif;
    font-weight: 20;
    font-style: normal;
    color: white;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 10px;
    bottom: 30px;
    display: block;
  }

  .plantpot{
    padding-top:10%; 
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    }