p4{
    font-family: sans-serif;
    font-weight: 20;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 50px;
  }
  p5{
    font-family: sans-serif;
    font-weight: 20;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 50px;
  }