#NavBar{
  height: 60px;
  width: 100%;
  background-color: #AAB99E;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#Map1{
  height: 600px;
  width: 100vw;
  position:relative;
  top: 60px;
}

.App{
  height: 200vh;
  background-color: #789065;
}

#Logo{
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 32px;
  padding: 12px;
  width: 300px;
  float: left;
}

#burger{
  color: white;
  font-size: 44px;
  padding: 5px;
  float:right;
}