#plantcontainerbox{
    background-color: #D3C9CB;
    width: 400px;
    height: 600px;
    position: relative;
    left: -5px;
}

#noresults{
    text-shadow: none;
    font-size: 32px;

}

#tryagain{
    font-size: 18px;
    text-align: center;
    color: #28180E;
    text-shadow: none;
    font-family: "Abel", sans-serif;
    margin-top: 10px;
}

#more{
    border:none;
    background-color: transparent;
    position: relative;
    left: 43%;
    bottom: 0;
}

#plantcontainerlist{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchtitle{
    font-size: 18px;
    position: relative;
    top: 0;
    margin: 0;
    padding: 10px;
    left: 10px;
    text-align: start;
    color: #28180E;
    text-shadow: none;
    font-family: "Abel", sans-serif;
}

.plantdetailbox{
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.plantimage{
    width: 110px;
    height: 110px;
    box-shadow: 5px 5px 5px grey;
}

.plantcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.planttitle{
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  top: 0;
  text-shadow: none;
  width: 100%;
  font-family: "Koulen", sans-serif;
    text-align: center;
    font-weight: 20;
    font-style: normal;
    color: #1A2B28;
    text-align: left;
}

.plantsn{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Abel", sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}

.plantsymbol{
    font-family: "Abel", sans-serif;
    margin-left: 10px;
}