#plantcontainerbox{
    /* background-color: #789065; */
    background-color: aqua;
    width: 400px;
    height: 600px;
    position: relative;
    left: -5px;
}

#searchtitle{
    font-size: 18px;
    position: relative;
    top: 0;
    margin: 0;
    padding: 10px;
    left: 10px;
    text-align: start;
}